MONGO_URI=mongodb://localhost:27017/mytasks
MONGODB_URI=mongodb://localhost:27017/mytasks
JWT_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJsb2NhbC11c2VyLTEyMyIsIm5hbWUiOiJUZXN0ZSBMb2NhbCIsInJvbGUiOiJhZG1pbiIsImlhdCI6MTc3MzM2MDAwMCwiZXhwIjoyMDg4NzI2NDAwfQ.s7Kk0lqK9x8WwJq1vZ0m1kZQ3rN6yT2uP5bH8cD4eF1
PORT=5000
NODE_ENV=development
